<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>手机销售网</title>
<link rel="stylesheet" href="__CSS__/common.css" charset="utf-8"/>
<link rel="stylesheet" href="__CSS__/footer.css" charset="utf-8"/>
</head>
<body>
<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="__CSS__/bootstrap.css" charset="utf-8"/>
<link rel="stylesheet" href="__CSS__/common.css" charset="utf-8"/>
<link rel="stylesheet" href="__CSS__/header.css" charset="utf-8"/>
<link rel="stylesheet" href="__CSS__/footer.css" charset="utf-8"/>



</head>
<body style="overflow:-Scroll;overflow-x:hidden">
   <nav class="navbar navbar-inverse ">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{:url('index/Index/index')}">"智多星"智能手机销售网</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="{:url('index/Index/index')}">主页</a></li>
            <li><a href="{:url('index/Mobile/liuLan')}">浏览手机</a></li>
            <li><a href="#">查询手机</a></li>
            <li><a href="{:url('index/Shoppingcart/ckgwc')}">查看购物车</a></li>
            <li><a href="{:url('index/Orderform/ckdd')}">查看订单</a></li>
            

          
          </ul>
         
          <a href="{:url('index/User/register')}" ><input type="button" class="btn btn-primary navbar-btn navbar-right bt1"  style="margin-left:20px" value="注册"></a>

          <a href="{:url('index/User/login')}"><input type="button" class="btn btn-success navbar-btn navbar-right bt1" value="登录"></a>
         
        
        </div>
      </div>
    </nav>
<script src="__JS__/jQuery.min.js"></script>
<script src="__JS__/bootstrap.min.js"></script>
 <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
 <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

